
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.tsx';

@theme {
    --font-sans: 'Noto Kufi Arabic, Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-tealbrand: #13B9B9;
    --color-paleteal: #E7F6F6;
    --color-primary-bg: #F8F8F8;
}

html, body {
    background-color: var(--color-primary-bg);
}
